node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
.vscode
.idea
__pycache__
dist
build
.DS_Store
.env.example
.editorconfig
*.log
storage/logs/*
bootstrap/cache/*
vendor
tests/
.php-cs-fixer.cache
.phpunit.cache
