@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додаткові глобальні стилі, щоб відповідати оригіналу */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}